.wrapper {
    background-color: var(--background);
    overflow-y: auto;
    height: 100vh;
}

.artist{
    display: flex;
    padding: 5rem 7rem 5rem 7rem;
}

.pieces{
    width: 88.5vw;
    display: flex;
    background-color: #F5F5F5;
    margin-left: 5.5vw;
    margin-bottom: 5vw;
    padding: 0.5rem 5rem 5em 5rem;
    flex-direction: column;
}

.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top > h2{
    padding-top: 2dvh;

}

.art-text{
    padding-right: 30vw;
}

.art-text > h1{
    font-size: 2vw;
    font-weight: 800;
}

.art-text > p{
    font-size: 1vw;
}

.view{
    width: 130vw;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
}

.avaliacao{
    display: flex;
    justify-content: space-between;
    width: 8vw;
    align-self: flex-end;
    gap: 1%;
    
}

.avaliacao > p{
    padding-top: 0.4vh;
    font-size: 1.2vw;
    margin-left: -0.7vw;
    color: var(--main-purple);
}

.estrelas{
    font-size: 25px;
    align-self: self-end;
    color: var(--main-purple);
    display: flex;
    justify-content: space-between;
    
}

.box-categ{
    color: #fff;
    display: flex;
    width: 3.5vw;
    height: 3.5vh;
    border-radius: 15px;
    border:2px solid #542769;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2 ease;
    align-items: center;
    justify-content: center;   
    gap: 0.5vh; 
    background-color: #542769;
    margin: 2rem 2rem 2rem 0;
    padding: 1.3rem 2rem 1.3rem 2rem;
}

.box-add{
    color: #fff;
    display: flex;
    width: 10vw;
    height: 3.5vh;
    border-radius: 15px;
    border:2px solid #542769;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2 ease;
    align-items: center;
    justify-content: center;   
    gap: 0.5vh; 
    background-color: #542769;
    margin: 2rem 2rem 2rem 0;
    padding: 1.3rem 1rem 1.3rem 1rem;
    text-align: center;
}

.cards-container{
    display: flex;
    flex-direction: column;

}

.card{
    display: flex;
    flex-direction: row;
    width: 78.5vw;
    background-color: #fff;
    padding: 1em 2em 1em 2em;
    gap: 2%;
    border-radius: 8px;
    justify-content: space-between;
}

.card-text{
    display: flex;
    flex-direction: column;
}

.left-card{
    width: 9vw;
    margin-top: 1vh;
}

.left-card > img{
    border-radius: 8px;
}

.middle-card{
    display: flex;
    flex-direction: column;
    gap: 20%;
    margin-top: -1vh;
    width: 40vw; 
    margin-left: -15vw; 
}

.avaliacao-obra{
    display: flex;
    margin-top: -2vh;
    align-items: flex-end;
}

.right-card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 10vw;
    align-items: flex-end;
}

.data-obra{
    font-size: 1.2rem;
    font-weight: 500;
}

.card-btns{
    display: flex;
    width: 100%;
}

.ver-mais{
    font-size:1vw;
    color:#542769;
    display: flex;
    width: 10vw;
    height: 3.5vh;
    border-radius: 15px;
    border:2px solid #542769;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2 ease;
    align-items: center;
    justify-content: center;    
    background-color: #fff;
    margin: 1rem 0rem 1rem 0;
    padding: 1rem 0.7rem 1rem 0.7rem;
    text-align: center;
}    

.lixeira{
    font-size: 1.2vw;
    color: #fff;
    display: flex;
    width: 3vw;
    height: 3.5vh;
    border-radius: 15px;
    border:2px solid #542769;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2 ease;
    align-items: center;
    justify-content: center;   
    background-color: #542769;
    margin: 1rem 1rem 0 0;
    padding: 1rem 0.7rem 1rem 0.7rem;
    text-align: center;
}

.avaliacao-obra{
    display: flex;
    gap: 1%;
    align-items: center;
    color:var(--scd-purple);
    font-size: 1.3rem;
}

.card-text > h4{
    font-weight: 600;
    font-size: 1.8rem;
}

.card-text > p{
    font-size: 1.1rem;
    color: #7c7c7c;
}
