.headline {
    background-color: var(--headline-color);
    width: 100dvw;
    height: 55dvh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 7rem 0 7rem;
    position: relative;
    overflow: hidden;
}

.headline>div {
    z-index: 999;
}

.triangle {
    background-color: red;
    width: 300px;
    height: 300px;
    position: absolute;
    transform: rotate(-18deg);
    right: -0;
    bottom: 0px;
    z-index: 1 !important;
}

.headline div>h1 {
    font-size: 4.2rem;
    font-weight: 800;
    color: var(--main-purple);
}

.headline div>h5 {
    color: var(--scd-purple);
    font-size: 1.4rem;
    font-weight: 500;
}

.headline div>img {
    width: 450px;
}

.cardArtisticAxes{
    
}