.wrapper {
    background-color: var(--background);
    overflow-y: auto;
    height: 100vh;
}

.headline {
    background-color: var(--headline-color);
    width: 100dvw;
    height: 55dvh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 7rem 0 7rem;
    position: relative;
    overflow: hidden;
}

.headline>div {
    z-index: 999;
}

.triangle {
    background-color: red;
    width: 300px;
    height: 300px;
    position: absolute;
    transform: rotate(-18deg);
    right: -0;
    bottom: 0px;
    z-index: 1 !important;
}

.headline div>h1 {
    font-size: 4.2rem;
    font-weight: 800;
    color: var(--main-purple);
}

.headline div>h5 {
    color: var(--scd-purple);
    font-size: 1.4rem;
    font-weight: 500;
}

.headline div>img {
    width: 450px;
}

.containerArtisticAxes {
    display: flex;
    flex-direction: row;
    padding: 5rem 7rem 0 7rem;
    justify-content: space-between;
}

.cardArtisticAxes {
    background-color: var(--gray);
    width: 24rem;
    height: 10rem;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.cardArtisticAxes>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cardArtisticAxes div>p:nth-child(1) {
    font-size: 0.8rem;
    font-weight: 500;
    color: #757575;
}

.cardArtisticAxes div>p:nth-child(2) {
    font-size: 1.6rem;
    font-weight: 600;
    color: #292929;
}

.cardArtisticAxes > img{
    width: 35%;
}

.teste{
    height: 1000px;
}