.wrapper {
    background-color: var(--background);
    overflow-y: auto;
    height: 100vh;
}

.headline {
    background-color: var(--headline-color);
    width: 100dvw;
    height: 37dvh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 7rem 0 7rem;
    position: relative;
   
}

.headline>div {
    z-index: 999;
}

.triangulo{
    position: absolute;
    right: 0%;
}

.headline div>h1 {
    font-size: 4.2rem;
    font-weight: 800;
    color: var(--main-purple);
}

.headline div>h5 {
    color: var(--scd-purple);
    font-size: 1.4rem;
    font-weight: 500;
}

.headline div>img {
    margin-top: 1.2vh;
    margin-right: 2.5vw;
}

.containerArtisticAxes {
    display: flex;
    flex-direction: row;
    padding: 5rem 7rem 0 7rem;
    justify-content: space-between;
}

.cardArtisticAxes {
    background-color: var(--gray);
    width: 24rem;
    height: 12vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
}

.cardArtisticAxes>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cardArtisticAxes div>p:nth-child(1) {
    font-size: 0.8rem;
    font-weight: 500;
    color: #757575;
}

.cardArtisticAxes div>p:nth-child(2) {
    font-size: 1.6rem;
    font-weight: 600;
    color: #292929;
}

.cardArtisticAxes > img{
    width: 35%;
}

.teste{
    height: 1000px;
}

.label-destaques{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-top: 60px ;
    gap:0.1vw;
    padding: 2vh 6vw 3vh 6vw;
}

input[type="radio"]:checked + .box-estrelas{
    background-color: #542769;
    color: white;
}

.boxes-estrelas{
    display: flex;
    justify-content: center;
    gap: 1.5%;
}

.box-estrelas{
    color: #542769;
    display: flex;
    width: 3.5vw;
    height: 3.5vh;
    border-radius: 20px;
    border:2px solid #542769;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2 ease;
    align-items: center;
    justify-content: center;   
    gap: 0.5vh; 
}

.label-destaques > h4{
    font-size: 2vw;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 80px;
    margin: 4% 6% 0 6%;
    flex-direction: row;
    margin-left: 7vw;
    margin-bottom: 5vh;
}

.card{
    background-color: #fff;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;    
}

.card-top{
    display:flex;
    flex-direction: column;
    font-size: 0.8vw;
    margin-top: 1.5vh;
    margin-left: 0.4vw;
    margin-bottom: 1vh;
}

.card-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nome-artista{
    color: #292929;
}

.avaliacao{
    display: flex;
    color: #4C096B;
    flex-direction: row;   
    gap: 7px;
}

.data-obra{
   
    font-size: 13px;
    color: #777777;
}

.card-obra > img{
    width: 50px;
    height: auto;
    align-self: center;
}

.avaliacao > ion-icon{
    width: 15px;
}
