footer{
    background-color: var(--main-purple);
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding: 3rem 7rem 0 7rem ;
    height: 35vh;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    border-bottom: 2px solid var(--light-purple);
    height: 25vh;
}

.logo-texto > p{
    margin-top: -1.3vh;
}

.logo-texto > h3{
    font-size: 1.5vw;
    font-weight: 700;
}

.logo-texto{
    margin-top: 1.5vh;
    font-size: 1vw;
}

.footer-bottom{
    align-self: flex-end;
}

.logo{
    display: flex;
    margin-right: -25vw;
    margin-left: -1.2vw;
}

.logo > img{
    width: 7.5rem;
    height: 7.5rem;
}

.contato{
    margin-left: -7vw;
}

.contato >h3{
    font-weight: 700;
    font-size: 1.5vw;
}

.contato >p:nth-child(2){
    margin-top: 10px;
}

.contato >p:nth-child(3){
    margin-top: 10px;
}

.links{
    margin-top: 1vh;
    display: flex;
    gap: 30%;
    height: 3vh;
    justify-self: flex-end;
    margin-left: -2vw;
    margin-right: 2.3vw;
}

.links > button{
    background-color: transparent;
    color:#fff;
    font-size: 0.76vw;
}
