@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --main-purple: #4C096B;
  --scd-purple: #542769;
  --light-purple: #A020F0;
  --background: #E8EAEA;
  --gray: #C7C7C7;
  --light-gray: #ECECEC;
  --headline-color: #DCDCDC;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


html,
body {
  overflow-x: hidden;
  overflow-y: auto !important;
  height: auto !important;
}


html,
body,
#root {
  position: static !important;
  height: auto !important;
  width: 100% !important;
  overscroll-behavior-y: none;
}