*{
    margin: 0;
}
.wrapper {
    background-color: var(--background);
    overflow-y: auto;
    height: 100vh;
}

.topAddObra{
    display: flex;
    align-items: center;
    gap: 1%;
    margin: 10vh 0 10vh 3vw;
}

.AddObra-text{
    display: flex;
    flex-direction: column;
}

.AddObra-text > h1{
    font-size: 2.3vw;
    font-weight: 600;
    color: #330847;
}

.AddObra-text > p{
    font-size: 1.2vw;
    font-weight: 500;
    color: #979797; 
}

.AddObra-logo{
    background-color: var(--scd-purple);
    width: 3vw;
    border-radius: 20px;
    height: 6vh;
}

.tipoDeObra{
    display: flex;
    flex-direction: column;
    margin: 10vh 0 10vh 3vw;
}

.h2 {
    font-size: 1.8vw;
    font-weight: 600;
    color: #5f5f5f;
}

.RadioBtns{
    display: flex;
    flex-wrap: wrap;
    width:50vw;
    column-gap: 2rem;
    padding-top: 2vh;
}

.RadioBtn{
    display: flex;
    gap: 2%;
    width: 20vw;
    
}

.RadioBtn > input{
    margin-top: -2vh;
    accent-color: var(--scd-purple);
}

.escolhaArquivo{
    margin: 10vh 0 10vh 3vw;
}


.arquivoContainer{
    display: flex;
    flex-direction: column;
    border: 2px dotted black;
    width: 65vw;
    height: 45vh;
    justify-content: center;
    align-items: center;
}

.arquivoContainer > img{
    width: 10vw;
}

.descricaoObra{
    margin: 10vh 0 10vh 3vw;
    display: flex;
    flex-direction: column;
    width: 65vw;
}

.descricaoContainer{
    border: 1px solid black;
    width: 65vw;
    height: 45vh;
    padding: 0 0 35vh 1.5vw;
    background-color: transparent;
    font-size: 1.1vw;
}

.publicarBtn{
    align-self: flex-end;
    color: #fff;
    display: flex;
    width: 11vw;
    height: 3.5vh;
    border-radius: 25px;
    border:2px solid #542769;
    font-weight: 500;
    font-size: 1vw;
    cursor: pointer;
    transition: all 0.2 ease;
    align-items: center;
    justify-content: center;   
    gap: 0.5vh; 
    background-color: #542769;
    margin: 2rem 0 2rem 0;
    padding: 1.3rem 1rem 1.3rem 1rem;
    text-align: center;
}

.plus{
    font-size: 1.6vw;
}